@charset "utf-8";

/*  CSS Styles  */
/*  Letter type  */
@font-face{
    font-family: 'Roboto';
    font-weight: 300;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face{
    font-family: 'Roboto';
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

/*  Custom properties  */
:root{
    --first_color: #dd5d26;
    --first_alpha_color: rgba(221, 93, 38, 0.95);
    --second_color: #3d3d3d;
    --second_aplha_color: rgba(61, 61, 61, 0.75);
    --third_color: #000061;
    --third_alpha_color: rgba(0, 0, 07,0.75);
    --white_color: #fff;
    --white_aplha_color: rgba(255, 255, 255, 0.5);
    --gray_color: #ccc;
    --gray_light_color: #f3f3f3;
    --gray_dark_color: #666;
    --black_color: #000;
    --black_alpha_color: rgba(0, 0, 0, 0.5);
    --link_color: #509ee3;
    --title_color: #333;
    --text_color: #222;
    --font: 'Roboto', sans-serif;
    --max_width: 1200px;
    --header_height: 4rem;
}

/*  Reset CSS  */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*  Generals styles  */
body,
html {
    min-width: 320px;
    min-height: 100vh;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    color: var(--text_color);
}

a{
    color: var(--link_color);
    transition: all 0.5s ease-out;
}

a:hover{ opacity: 0.75; }

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

p{ line-height: 1.6; }

/*  Responsive image  */
img{
    max-width: 100%;
    height: auto;
}

/*  Utilities  */
.box_shadow{ box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25); }

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max_width)
}

.none{ display: none; }

.btn{
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.6rem;
    width: auto;
    font-weight: 700;
    text-decoration: none;
    color: var(--white_color);
    background-color: var(--first_color);
    text-align: center;
    margin-top: var(--btn_margin_top)
}

.gray_scale{ filter: grayscale(1); }

.text_left{ text-align: left; }

.text_right{ text-align: right; }

.text_center{ text-align: center; }

.section{ padding: 2rem 1rem; }

.bg_gray_light{ background-color: var(--gray_light_color); }

.section_title{
    border-top: thin solid var(--first_color);
    border-bottom: thin solid var(--first_color);
    width: 250px;
    margin: 1rem auto;
    padding: .5rem 1rem;
    text-align: center;
    color: var(--title_color)
}

/*  Componets  */
/*  Menu  */
.menu_btn{
    outline: thin solid var(--first_color);
    border: 0;
    background-color: var(--second_color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_btn svg{ fill: var(--first_color); }

.menu{
    position: fixed;
    left: 0;
    bottom: var(--header_height);
    width: 100%;
    background-color: var(--second_color);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

.menu.is_active{
    opacity: 1;
    pointer-events: visible;
}

.menu a{
    padding: 0.6rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: var(--first_color);

}

.menu a:hover{
    color: var(--white_color);
    background-color: var(--first_color);
}

/*  Hero image  */
.hero_image{
    background-image: var(--image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: var(--attachment);
}

.hero_image_opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--opacity_color);
}

.hero_image_title{
    color: var(--color_title);
    font-size: 8vw;
}

/*  Site styles  */
/*  Header   */
.header{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: var(--header_height);
    background-color: var(--second_color);
    padding: 1rem;
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > svg{
    width: 30px;
    height: 30px;
    fill: var(--first_color);
}

.logo > a{
    padding-left: 5px;
    text-decoration: none;
    color: var(--first_color);
    font-weight: 700;
    font-size: 1.3rem;
}

.logo > a:hover{ color: var(--white_color); }

.about > article{ margin-bottom: 2rem; }

.about aside{ margin-bottom: 1rem; }

.about p{
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.about ul{ font-size: 1.1rem; }

.about ul{ list-style-position: inside; }

.service_card{
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
}

.service_card svg{
    fill: var(--first_color);
    margin-bottom: 1.25rem;
}

.service_card h3{
    color: var(--title_color);
    margin-bottom: 1rem;
}

.portfolio_card{
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.portfolio_card img{
    width: 800px;
    height: 100%;
    object-fit: cover;
}

.portfolio_card .portfolio_card_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--first_alpha_color);
    color: var(--white_color);
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.portfolio_card:hover .portfolio_card_info{
    opacity: 1;
    pointer-events: visible;
}

.portfolio_card .portfolio_card_info h3{ margin-bottom: 10px; }

.portfolio_card .portfolio_card_info > div{
    border: thin solid var(--white_color);
    padding: .5rem;
    width: 100%;
    height: 100%;
}

.portfolio > .container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/*  Media queries  */
@media screen and (min-width: 576px){

    /*  Site styles  */
    .logo > a{ font-size: 1.6rem; }

    .about p, .about ul{ font-size: 1.3rem; }

    .portfolio_card .portfolio_card_info h3{ font-size: 1.8rem; }

    .portfolio_card .portfolio_card_info p{ font-size: 1.6rem; }

    /*  utilities  */
    .full_md_screen{
        width: 100%;
        min-height: 100vh;
    }

}

@media screen and (min-width: 768px){
    
    /*  Componets  */
    /*  Hero image  */
    .btn{ font-size: 2.3vw;}

    /*  Utilities  */
    .text_lg_left{ text-align: left; }

    .text_lg_right{ text-align: right; }

    .text_lg_center{ text-align: center; }

    .full_lg_screen{
        width: 100%;
        min-height: 100vh;
    }

    /*  Site styles  */
.services{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .services > .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-content: center;
    }

    .services > .container .section_title{ grid-column: span 2; }

    .portfolio{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .portfolio > .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio > .container .section_title{ grid-column: span 2; }

    .portfolio_card .portfolio_card_info h3{ font-size: 1.3rem; }

    .portfolio_card .portfolio_card_info p{ font-size: 1.1rem; }

}

@media screen and (min-width: 992px){

    /*  Site styles  */
    /*  Header  */
    .header{
        position: sticky;
        top: 0;
    }

    .about{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        justify-content: space-between;
        align-content: center;
    }

    .about article:nth-child(3){
        grid-column: 2;
        grid-row: 2;
    }

    .about article:nth-child(4){
        grid-column: 3;
        grid-row: 1;
    }

    .about > article{ margin-bottom: 0; }

    .about p, .about ul{ font-size: 1.2rem; }

    .services > .container{ grid-template-columns: repeat(3, 1fr); }

    .services > .container .section_title{ grid-column: span 3; }

    .portfolio_card .portfolio_card_info h3{ font-size: 1.6rem; }

    .portfolio_card .portfolio_card_info p{ font-size: 1.4rem; }

    /*  Componets  */
    /*  Menu  */
    .menu_btn{ display: none; }

    .menu{
        position: static;
        opacity: 1;
        pointer-events: visible;
        flex-direction: row;
        width: auto;
    }

    .menu a{ padding: 0 0.6rem; }

    .menu a:last-child{ padding-right: 0; }

    .menu a:hover{ background-color: transparent; }

    /*  Hero image  */
    .hero_image_title{ font-size: 6vw; }

    .btn{ font-size: 2vw; }

    /*  Utilities  */
    .text_xl_left{ text-align: left; }

    .text_xl_right{ text-align: right; }

    .text_xl_center{ text-align: center; }

    .section_xl{ padding: 6rem 2rem; }

    .full_xl_screen{
        width: 100%;
        min-height: 100vh;
    }

}

@media screen and (min-width: 1200px){

    /* Site styles  */
    .portfolio_card .portfolio_card_info h3{ font-size: 2rem; }

    .portfolio_card .portfolio_card_info p{ font-size: 1.8rem; }

    /*  Utilities  */
    .section_xxl{ padding: 4rem 0 2rem 0; }

}